<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>runtime-dictionaryToModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18095C261ED9677E00D36171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18095C3F1ED9677E00D36171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18095C4A1ED9677E00D36171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
